@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  zoom: 75%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.titlebar {
  height: 10%;
  width: 100%;
  margin-top: 0px;
  display: inline-flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  border-radius: none;
  z-index: 50;
}

.titlebar ul li {
  list-style: none;
  display: inline-flex;
  text-align: middle;
  margin: 0 20px;
  position: relative;
}

.titlebar ul li a {
  text-decoration: none;
  font-family: "Calibri";
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 22px;
  transition: 1s;
}

.titlebar ul li a:hover {
  text-decoration: none;
  font-family: "Calibri";
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 1s;
}

.titlebar ul li::after {
  content: "";
  height: 2.5px;
  width: 0;
  background: #00ccff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 1s;
}

.logo {
  width: 15%;
  height: auto;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5%;
  border-radius: 20px;
  cursor: pointer;
}

.titlebar ul li:hover::after {
  width: 100%;
}

.background {
  width: auto;
  height: 50px;
  background: linear-gradient(
    rgb(225, 241, 251),
    rgb(225, 241, 251),
    rgb(225, 241, 251),
    rgb(225, 241, 251)
  );
  padding-top: 20%;
  padding-bottom: 100vh;
}

.bg {
  color: white;
}

.button1 {
  width:300px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  left: 43%;
  transition-duration: 0.3s;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: large;
  font-family: "Times New Roman";
}

.button1:hover {
  background-color: rgba(7, 41, 232, 0.849);
  color: white;
}

.button1 {
  width:300px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  left: 43%;
  transition-duration: 0.3s;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: large;
  font-family: "Times New Roman";
}

.button1:hover {
  background-color: rgba(7, 41, 232, 0.849);
  color: white;
}